# SQL and SQLite
SQL (Structured Query Language) is a standard programming language specifically designed for managing and manipulating relational databases. 

SQLite is a popular, lightweight, serverless database engine that uses SQL as its query language.

In [1]:
import sqlite3

In [ ]:
## Create a connection to the SQLite database (or create it if it doesn't exist)

connection = sqlite3.connect('example.db')
connection

In [3]:
# Create a cursor object to interact with the database

cursor = connection.cursor()

In [4]:
# Create a table named 'users' with columns for id, name, age, and department

cursor.execute('''CREATE TABLE IF NOT EXISTS users(
                id INTEGER PRIMARY KEY, 
                name TEXT, 
                age INTEGER,
                department TEXT
                )
''')

connection.commit() # Commit the changes

In [5]:
cursor.execute('''SELECT * FROM users''')

In [6]:
# Insert sample data into the 'users' table
cursor.execute('''INSERT INTO users (name, age, department) VALUES
               ('Alice', 30, 'HR'),
               ('Bob', 25, 'Engineering'),
               ('Charlie', 35, 'Sales')
               ''')

connection.commit() # Commit the changes

In [7]:
cursor.execute('''SELECT * FROM users''')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Alice', 30, 'HR')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 35, 'Sales')

In [8]:
# Update the data in the table
cursor.execute('''UPDATE users 
                  SET age = age + 10 
                  WHERE name = 'Alice'
                ''')

connection.commit() # Commit the changes

In [9]:
cursor.execute('''SELECT * FROM users''')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Alice', 40, 'HR')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 35, 'Sales')

In [10]:
# Delete a record from the table
cursor.execute('''DELETE FROM users 
                  WHERE name = 'Bob'
                ''')
connection.commit() # Commit the changes

In [11]:
cursor.execute('''SELECT * FROM users''')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Alice', 40, 'HR')
(3, 'Charlie', 35, 'Sales')

In [12]:
# Working with Sales Data

connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# Create a table named 'sales' with columns for id, date, product, sales, and region
cursor.execute('''
    CREATE TABLE IF NOT EXISTS sales (
        id INTEGER PRIMARY KEY,
        date TEXT NOT NULL,
        product TEXT NOT NULL,
        sales INTEGER NOT NULL,
        region TEXT NOT NULL
    )
''')

# Insert sample sales data into the 'sales' table

sales_data = [
    ('2023-01-01', 'Product A', 100, 'North'),
    ('2023-01-02', 'Product B', 150, 'South'),
    ('2023-01-03', 'Product A', 200, 'East'),
    ('2023-01-04', 'Product C', 250, 'West'),
    ('2023-01-05', 'Product B', 300, 'North')
]

cursor.executemany('''INSERT INTO sales (date, product, sales, region) 
                      VALUES (?, ?, ?, ?)''', 
                      sales_data)


connection.commit() # Commit the changes

In [13]:
cursor.execute('''SELECT * FROM sales''')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, '2023-01-01', 'Product A', 100, 'North')
(2, '2023-01-02', 'Product B', 150, 'South')
(3, '2023-01-03', 'Product A', 200, 'East')
(4, '2023-01-04', 'Product C', 250, 'West')
(5, '2023-01-05', 'Product B', 300, 'North')

In [14]:
# Close the connection
connection.close()

In [16]:
cursor.execute('''SELECT * FROM sales''') 
rows = cursor.fetchall()
for row in rows:
    print(row)


# Cannot operate on a closed database.

ProgrammingError: Cannot operate on a closed database.