# SQLite3 Examples

### Assignment 1: Creating and Connecting to a Database

1. Write a Python function to create a new SQLite3 database named `test.db`.

In [ ]:
import sqlite3

In [ ]:
def create_database(db_name):
    connection = sqlite3.connect(db_name)
    connection.close()
    print("Database created and successfully connected.")

# Test the function
create_database("test.db")

Database created and successfully connected.

2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

In [6]:
def create_table():
    connection = sqlite3.connect("test.db")
    cursor = connection.cursor()
    cursor.execute('''CREATE TABLE IF NOT EXISTS employees
                      (id INTEGER PRIMARY KEY,
                       name TEXT NOT NULL,
                       age INTEGER NOT NULL,
                       department TEXT NOT NULL)
                    ''')
    connection.commit()
    connection.close()
    print("Table created successfully.")
    
create_table()

Table created successfully.

### Assignment 2: Inserting Data

1. Write a Python function to insert a new employee into the `employees` table.

In [7]:
def insert_employee(name, age, department):
    connection = sqlite3.connect("test.db")
    cursor = connection.cursor()
    cursor.execute('''INSERT INTO employees (name, age, department)
                      VALUES (?, ?, ?)''', (name, age, department))
    connection.commit()
    connection.close()
    print("Employee inserted successfully.")

# Test the function
insert_employee('Alice', 30, 'HR')

Employee inserted successfully.

2. Insert at least 5 different employees into the `employees` table.

In [8]:
insert_employee('Bob', 35, 'Engineering')
insert_employee('Charlie', 28, 'Sales')
insert_employee('David', 40, 'Marketing')
insert_employee('Eva', 22, 'HR')

Employee inserted successfully.
Employee inserted successfully.
Employee inserted successfully.
Employee inserted successfully.

### Assignment 3: Querying Data

1. Write a Python function to fetch and display all records from the `employees` table.

In [9]:
def show_all_employees():
    connection = sqlite3.connect("test.db")
    cursor = connection.cursor()
    cursor.execute('''SELECT * FROM employees''')
    rows = cursor.fetchall()
    for row in rows:
        print(row)
    connection.close()

# Test the function
show_all_employees()

(1, 'Alice', 30, 'HR')
(2, 'Bob', 35, 'Engineering')
(3, 'Charlie', 28, 'Sales')
(4, 'David', 40, 'Marketing')
(5, 'Eva', 22, 'HR')

2. Write a Python function to fetch and display all employees from a specific department.

In [10]:
def show_specific_department(department):
    connection = sqlite3.connect("test.db")
    cursor = connection.cursor()
    cursor.execute('''SELECT * FROM employees 
                      WHERE department = ?''', 
                      (department,))
    rows = cursor.fetchall()
    for row in rows:
        print(row)
    connection.close()
    
# Test the function
show_specific_department('HR')

(1, 'Alice', 30, 'HR')
(5, 'Eva', 22, 'HR')

In [11]:
show_specific_department('Engineering')

(2, 'Bob', 35, 'Engineering')

### Assignment 4: Updating Data

1. Write a Python function to update the department of an employee based on their `id`.

In [12]:
def update_employee(id, department):
    connection = sqlite3.connect("test.db")
    cursor = connection.cursor()
    cursor.execute('''UPDATE employees 
                      SET department = ? 
                      WHERE id = ?''', 
                      (department, id))
    connection.commit()
    connection.close()
    print("Employee updated successfully.")

# Test the function
update_employee(1, 'Marketing')

Employee updated successfully.

2. Update the department of at least 2 employees and display the updated records.

In [13]:
update_employee(1, 'HR')
update_employee(2, 'Sales')
update_employee(3, 'Engineering')

show_all_employees()

Employee updated successfully.
Employee updated successfully.
Employee updated successfully.
(1, 'Alice', 30, 'HR')
(2, 'Bob', 35, 'Sales')
(3, 'Charlie', 28, 'Engineering')
(4, 'David', 40, 'Marketing')
(5, 'Eva', 22, 'HR')

### Assignment 5: Deleting Data

1. Write a Python function to delete an employee from the `employees` table based on their `id`.

In [14]:
def delete_employee(id):
    connection = sqlite3.connect("test.db")
    cursor = connection.cursor()
    cursor.execute('''DELETE FROM employees 
                      WHERE id = ?''', 
                      (id,))
    connection.commit()
    connection.close()
    print("Employee deleted successfully.")

# Test the function
delete_employee(3)

Employee deleted successfully.

2. Delete at least 1 employee and display the remaining records.

In [15]:
delete_employee(2)
show_all_employees()

Employee deleted successfully.
(1, 'Alice', 30, 'HR')
(4, 'David', 40, 'Marketing')
(5, 'Eva', 22, 'HR')

### Assignment 6: Advanced Queries

1. Write a Python function to fetch and display employees older than a certain age.

In [22]:
def fetch_employees_by_age(age):
    connection = sqlite3.connect("test.db")
    cursor = connection.cursor()
    cursor.execute('''SELECT * FROM employees 
                      WHERE age > ?''', (age,))
    rows = cursor.fetchall()
    for row in rows:
        print(row)
    connection.close()

# Test the function
fetch_employees_by_age(30)

(4, 'David', 40, 'Marketing')

2. Write a Python function to fetch and display employees whose names start with a specific letter.

In [24]:
def fetch_employee_by_name_start(letter):
    connection = sqlite3.connect("test.db")
    cursor = connection.cursor()
    cursor.execute('''SELECT * FROM employees 
                      WHERE name LIKE ?''', (letter + '%',))
    rows = cursor.fetchall()
    for row in rows:
        print(row)
    connection.close()

# Test the function
fetch_employee_by_name_start('E')

(5, 'Eva', 22, 'HR')

### Assignment 7: Handling Transactions

1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.

In [25]:
def insert_multiple_employees(employees):
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()
    try:
        cursor.executemany('''
            INSERT INTO employees (id, name, age, department)
            VALUES (?, ?, ?, ?)''', employees)
        
        connection.commit()
        print("All employees inserted successfully.")
        
    except Exception as e:
        connection.rollback() # Rollback means undoing all changes made in the transaction
        print("Error occurred, transaction rolled back.")
        print(e)
    finally:
        connection.close()

# Test the function with valid and invalid data
employees = [
    (6, 'Frank', 40, 'Finance'),
    (7, 'Grace', 29, 'Engineering'),
    (8, 'Hannah', 35, 'Marketing'),
    (9, 'Ivan', 38, 'Sales'),
    (6, 'Jack', 45, 'HR')  # Duplicate ID to cause an error
]
insert_multiple_employees(employees)

Error occurred, transaction rolled back.
UNIQUE constraint failed: employees.id

2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

In [28]:
def update_multiple_employees(updates):
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()
    try:
        cursor.executemany('''
            UPDATE employees 
            SET age = ? 
            WHERE id = ?''', updates)
        
        connection.commit()
        print("All employees updated successfully.")
        
    except Exception as e:
        connection.rollback() # Rollback means undoing all changes made in the transaction
        print("Error occurred, transaction rolled back.")
        print(e)
    finally:
        connection.close()

# Test the function with valid and invalid data
updates = [
    (31, 1),
    (36, 2),
    (29, 3),
    (41, 4),
    (50, 10)  # Non-existent ID to cause an error
]
update_multiple_employees(updates)

All employees updated successfully.

### Assignment 8: Creating Relationships

1. Create a new table named `departments` with columns `id` (integer) and `name` (text).

In [30]:
def create_departments_table():
    connection = sqlite3.connect("test.db")
    cursor = connection.cursor()
    cursor.execute('''CREATE TABLE IF NOT EXISTS departments
                      (id INTEGER PRIMARY KEY,
                       name TEXT NOT NULL)
                    ''')
    connection.commit()
    connection.close()
    print("Departments table created successfully.")

create_departments_table()

Departments table created successfully.

2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.

In [34]:
def add_department_foreign_key():
    connection = sqlite3.connect("test.db")
    cursor = connection.cursor()
    cursor.execute("DROP TABLE IF EXISTS employees")
    cursor.execute("""
        CREATE TABLE employees (
            id INTEGER PRIMARY KEY,
            name TEXT,
            age INTEGER,
            department_id INTEGER,
            department TEXT,
            FOREIGN KEY (department_id) REFERENCES departments(id)
        )
    """)
    connection.commit()
    connection.close()

add_department_foreign_key()

3. Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referential integrity.

In [35]:
def insert_department_and_employee(department_id, department_name, employee_id, name, age, department):
    connection = sqlite3.connect("test.db")
    cursor = connection.cursor()
    try:
        cursor.execute("INSERT INTO departments (name) VALUES (?)", (department_name,))
        dept_id = cursor.lastrowid

        cursor.execute("INSERT INTO employees (name, age, department, department_id) VALUES (?, ?, ?, ?)",
                       (name, age, department, department_id))

        connection.commit()
        print("Department and employee inserted successfully.")

    except Exception as e:
        connection.rollback()
        print("Error occurred, transaction rolled back.")
        print(e)
    finally:
        connection.close()
        
# Test the function
insert_department_and_employee(1, 'HR', 10, 'Kate', 27, 'HR')
insert_department_and_employee(2, 'Engineering', 11, 'Leo', 32, 'Engineering')
insert_department_and_employee(3, 'Sales', 12, 'Mia', 26, 'Sales')

Department and employee inserted successfully.
Department and employee inserted successfully.
Department and employee inserted successfully.

### Assignment 9: Indexing and Optimization

1. Create an index on the `name` column of the `employees` table.

In [36]:
def create_index_on_name():
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()
    cursor.execute('CREATE INDEX idx_name ON employees(name)')
    connection.commit()
    connection.close()
    print("Index on 'name' column created successfully.")

# Test the function
create_index_on_name()

Index on 'name' column created successfully.

2. Write a Python function to fetch and display all employees whose names start with a specific letter. Compare the performance with and without the index.

In [40]:
import time

def fetch_employees_name_starts_with_performance(letter):
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()
    start_time = time.time()
    cursor.execute('''SELECT * FROM employees 
                   WHERE name LIKE ?''', (letter + '%',))
    records = cursor.fetchall()
    end_time = time.time()
    connection.close()
    print("Time taken: {} seconds".format(end_time - start_time))
    print("Records fetched:")
    for record in records:
        print(record)

# Test the function with the index
fetch_employees_name_starts_with_performance('M')

Time taken: 0.0002167224884033203 seconds
Records fetched:
(3, 'Mia', 26, 3, 'Sales')

### Assignment 10: Backing Up and Restoring Data

1. Write a Python function to back up the `test.db` database to a file named `backup.db`.

In [41]:
import shutil

def backup_database():
    shutil.copy('test.db', 'backup.db')
    print("Database backed up successfully.")

# Test the function
backup_database()

Database backed up successfully.

2. Write a Python function to restore the `test.db` database from the `backup.db` file.

In [42]:
def restore_database():
    shutil.copy('backup.db', 'test.db')
    print("Database restored successfully.")

# Test the function
restore_database()

Database restored successfully.